<div
  class="flex items-center justify-center gap-4 p-8 bg-gray-100 border border-gray-300 rounded-lg "
>
  <form
    [formGroup]="searchForm"
    (ngSubmit)="onSearch()"
    class="flex items-center gap-4"
  >
    <div class="flex flex-col">
      <label for="bloodGroup" class="mb-2 text-lg text-gray-700"
        >Blood Group</label
      >
      <select
        id="bloodGroup"
        formControlName="bloodGroup"
        class="p-2 text-lg border border-gray-300 rounded"
      >
        <option value="" disabled selected>Select Blood Group</option>
        <option *ngFor="let group of bloodGroups" [value]="group">
          {{ group }}
        </option>
      </select>
    </div>

    <div class="flex flex-col">
      <label for="city" class="mb-2 text-lg text-gray-700">City</label>
      <input
        type="text"
        class="h-[34px] border border-gray-300"
        formControlName="city"
        required=""
      />
    </div>

    <button
      type="submit"
      class="px-6 py-2 mt-6 text-lg text-white bg-gradient-to-r from-[#280b31] to-[#ee0b0b] rounded"
    >
      Search
    </button>
  </form>


  <!-- search result -->
</div>
<div *ngIf="message">
  <p>{{ message }}</p>
</div>
<div *ngIf="searchResult.length > 0" class="overflow-x-auto">
  <table class="min-w-full bg-white border border-gray-200">
    <thead>
      <tr>
        <th class="px-4 py-2 border-b">Name</th>
        <th class="px-4 py-2 border-b">Address</th>
        <th class="px-4 py-2 border-b">Last Donated Date</th>
        <th class="px-4 py-2 border-b">Mobile</th>
        <th class="px-4 py-2 border-b">City</th>
        <th class="px-4 py-2 border-b">Blood Group</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of searchResult" class="hover:bg-gray-100">
        <td class="px-4 py-2 border-b">{{ item.name }}</td>
        <td class="px-4 py-2 border-b">{{ item.address }}</td>
        <td class="px-4 py-2 border-b">{{ item.lastDonatedDate }}</td>
        <td class="px-4 py-2 border-b">{{ item.mobile }}</td>
        <td class="px-4 py-2 border-b">{{ item.city }}</td>
        <td class="px-4 py-2 border-b">{{ item.bloodGroup }}</td>
      </tr>
    </tbody>
  </table>
</div>
