<!-- header section starts  -->
<header >
  <a routerLink="/home" class="logo"><span>EN</span>LIFE</a>
  <input type="checkbox" id="menu-bar" />
  <label for="menu-bar" class="fas fa-bars"></label>
  <nav class="navbar">
    <a routerLink="/home">Home</a>
    <a *ngIf="!name" routerLink="/authform">Donate</a>
    <a>Camps<span class="notification-count">2</span></a>
    <a *ngIf="name">{{name}}</a>
    <a *ngIf="!name" routerLink="/login">Login</a>
    <a (click)="logout()" *ngIf="name">Logout</a>
  </nav>
</header>
<!-- header section ends -->

<!-- home section starts  -->
<section class="home" id="home">
  <div class="content">
    <p>
      "Be a lifesaver! search our database of willing blood donors and help save
      life today."
    </p>
    <h3>Search For <span>Donors</span></h3>
    <!-- HTML form for the search bar -->
    <app-search></app-search>
    <!-- Display the search results if a blood group and/or city has been selected -->
    <!-- Add a div for the popup window -->
  </div>
  <!-- </div>
    </div> -->
  <div class="image">
    <img src="../../assets/images/title6.png" alt="" />
  </div>
</section>

<!-- home section ends -->

<section class="features" id="features">
  <div class="box-container">
    <div class="box">
      <img src="../../assets/images/bluu.png" alt="" />
      <h3>Can I donate blood?</h3>
      <p>
        "Be a life-giver! Check eligibility to donate blood and save a life
        today.<br />
        Visit our website now!"
      </p>
      <a routerLink="/registration" class="btn">Check your eligibility</a>
    </div>

    <div class="box">
      <img src="../../assets/images/blu.jpg" alt="" />
      <h3>Donate now</h3>
      <p>
        "Give the gift of life! Register now to become a blood donor and<br />
        save lives in your community "
      </p>
      <a routerLink="/registration"  class="btn">Register here</a>
    </div>

    <div class="box">
      <img src="../../assets/images/bluuu1.png" alt="" />
      <h3>Camp registration</h3>
      <p>
        "Save a life,give the gift of blood.Register now to conduct a blood
        donation camp and be a hero in someone's story."
      </p>
      <a routerLink="/campregistration" class="btn">Register here</a>
    </div>
  </div>
</section>
<!-- contact section starts  -->
<section class="contact" id="contact">
  <div class="image">
    <img src="../../assets/images/contactus1.png" alt="" />
  </div>
  <form action="" name="submit-to-google-sheet">
    <h1 class="heading">contact us</h1>
    <div class="inputBox">
      <input type="text" name="name" required />
      <label>Name</label>
    </div>

    <div class="inputBox">
      <input type="email" name="email" required />
      <label>Email</label>
    </div>

    <div class="inputBox">
      <input type="number" name="phone" required />
      <label>Phone</label>
    </div>

    <div class="inputBox">
      <textarea required name="messege" id="" cols="30" rows="10"></textarea>
      <label>Message</label>
    </div>

    <input type="submit" class="btn" value="send message" />
  </form>
  <span id="msg"></span>
</section>

<!-- contact section edns -->

<!-- footer section starts  -->
<div class="footer">
  <div class="box-container">
    <div class="box">
      <h3>About Us</h3>
      <p>
        EnLife connects those in need of blood transfusions with willing blood
        donors. Our mission is to make the process of finding a blood donor
        easier and more efficient, ultimately saving lives and improving the
        health of our community.
      </p>
    </div>

    <div class="box">
      <h3>Quick links</h3>
      <a href="index.php">home</a>
      <a href="about.php">About</a>
      <a href="canidonate.php">Donate</a>
      <a href="notification.php">Camps</a>
      <a href="login.php">Login</a>
      <a href="adminlogin.php">Admin</a>
    </div>

    <div class="box">
      <h3>Follow Us</h3>
      <a href="https://www.facebook.com/profile.php?id=100089540105817"
        >facebook</a
      >
      <a href="https://www.instagram.com/shfn.ex/">instagram</a>
      <a href="https://www.linkedin.com/in/mohammedshafin/">Linkdin</a>
      <a href="https://twitter.com/Shfnex">twitter</a>
    </div>

    <div class="box">
      <h3>Contact Info</h3>
      <div class="info">
        <i class="fas fa-phone"></i>
        <p>+917994648644</p>
      </div>
      <div class="info">
        <i class="fas fa-envelope"></i>
        <p>shafinms21gmail.com</p>
      </div>
      <div class="info">
        <i class="fas fa-map-marker-alt"></i>
        <p>Nilambur, Kerala - 679328</p>
      </div>
    </div>
  </div>
  <h1 class="credit">&copy; Copyright 2024 by Team Enlife</h1>
</div>
