@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

// :root{
//     --black:#280b31;
//     --red:#ee0b0b;
//     --gradient:linear-gradient(90deg, var(--black), var(--red));
// }

// *{
//     font-family: 'Poppins', sans-serif;
//     margin:0;
//     padding:0;
//     box-sizing: border-box;
//     text-decoration: none;
//     outline: none;
//     border:none;
// }

*::selection{
    background:var(--red);
    color:#fff;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background:#f9f9f9;
}

section{
    /* min-height: 100vh; */
    padding:0 9%;
    padding-top: 75px;
    padding-bottom: 20px;
}

.btn{
    display: inline-block;
    margin-top: 10px;
    padding:8px 30px;
    border-radius: 50px;
    background:linear-gradient(90deg, #280b31, #ee0b0b);
    font-size: 17px;
    color:#fff;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    transition: all .3s linear;
}

.btn:hover{
    transform: scale(1.1);
}

.heading{
    text-align: center;
    background:linear-gradient(90deg, #280b31, #ee0b0b);
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 35px;
    text-transform: uppercase;
    padding:10px;
}

header{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    background:#fff;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    padding:2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header .logo{
    font-size: 2rem;
    color:#280b31;
}

header .logo span{
    color:#ee0b0b;
}

header .navbar a{
    font-size: 17px;
    margin-left: 20px;
    color:#280b31;
}

header .navbar a:hover{
    color:#ee0b0b;
}

header input{
    display: none;
}

header label{
    font-size: 30px;
    color:#280b31;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
}

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10%;
    background-size: cover;
    background-position: center;

}

.home .image img{
    width:40vw;
}

.home .content h3{
    font-size: 55px;
    color:#333;
    text-transform: uppercase;
}

.home .content h3 span{
    color:#ee0b0b;
    text-transform: uppercase;
}

.home .content p{
    font-size: 17px;
    color:#666;
    padding:10px 0;
}

.features .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.features .box-container .box{
    flex:1 1 300px;
    background:#fff;
    border-radius: 5px;
    border:.1rem solid rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    margin:15px;
    padding:20px 20px;
    border-radius: 5px;
    text-align: center;
    transition: .2s linear;
}

.features .box-container .box img{
    height: 150px;
}

.features .box-container .box h3{
    font-size: 20px;
    color:#333;
    padding-top: 10px;
}

.features .box-container .box p{
    font-size: 13px;
    color:#666;
    padding: 10px 0;
}

.contact{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 40px;
}

.contact .image{
    flex:1 1 400px;
}

.contact .image img{
    width:100%;
    padding:20px;
}

.contact form{
    flex:1 1 400px;
    padding:20px 30px;
    border:1px solid rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    border-radius: 5px;
    background:#fff;
}

.contact form .heading{
    text-align: left;
    padding:0;
    padding-bottom: 20px;
}

.contact form .inputBox{
    position: relative;
}

.contact form .inputBox input, .contact form .inputBox textarea{
    width:100%;
    background:none;
    color:#666;
    margin:15px 0;
    padding:5px 0;
    font-size: 17px;
    border-bottom: 1px solid rgba(0,0,0,.1);
    text-transform: none;
}

.contact form .inputBox textarea{
    resize: none;
    height: 130px;
}

.contact form .inputBox label{
    position: absolute;
    top:17px;
    left:0;
    font-size: 17px;
    color:#666;
    transition: .2s linear;
}

.contact form .inputBox input:focus ~ label,
.contact form .inputBox input:valid ~ label,
.contact form .inputBox textarea:focus ~ label,
.contact form .inputBox textarea:valid ~ label{
    top:-5px;
    font-size: 15px;
    color:#ee0b0b;
}

.footer{
    padding-top: 3rem;
    background:url('../../assets/images/footer-bg1.png') no-repeat;
    background-size: cover;
    background-position: center;
}

.footer .box-container{
    display: flex;
    flex-wrap: wrap;
}

.footer .box-container .box{
    flex:1 1 250px;
    margin:20px;
}

.footer .box-container .box h3{
    font-size: 25px;
    padding:10px 0;
    color:#fff;
    text-decoration: underline;
    text-underline-offset: 10px;
}

.footer .box-container .box p{
    font-size: 15px;
    padding:5px 0;
    color:#eee;
}

.footer .box-container .box a{
    display: block;
    font-size: 15px;
    padding:5px 0;
    color:#eee;
}

.footer .box-container .box a:hover{
    text-decoration: underline;
}

.footer .box-container .box .info{
    display: flex;
    align-items: center;
}

.footer .box-container .box .info i{
    margin:5px 0;
    margin-right: 10px;
    border-radius: 50%;
    background:#fff;
    color:#ee0b0b;
    font-size: 15px;
    height:45px;
    width:45px;
    line-height: 45px;
    text-align: center;
}

.footer .credit{
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 1px;
    color:#fff;
    border-top: 1px solid #fff5;
    padding:25px 10px;
    text-align: center;
}
.notification-count {
    position: absolute;
    top: 15px;

    background-color: #8b0000;
    color: #fff;
    font-size: 12px;
    padding: 2px 5px;
    border-radius: 50%;
  }

  body {
    font-family: Arial, sans-serif;
    font-size: 20px;
  }

  h2 {
    margin-top: 20px;
  }

  label {
    display: inline-block;
    margin-top: 10px;
  }

  select {
    padding: 5px;
    margin-bottom: 20px;
    border-radius: 25px;
  }

  button[type="submit"] {

    padding: 10px 20px;
    background-color: #710000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 25px;
    font-size: 15px;

  }

  button[type="submit"]:hover {
    background-color: #3e8e41;
  }

  table {
    margin-top: 20px;
    border-collapse: collapse;

  }

  th,
  td {
    padding: 10px;
    border: 1px solid #ccc;
  }

  th {
    background-color: #f2f2f2;
  }

  td {
    text-align: center;
  }

  button[type="button"] {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  button[type="button"]:hover {
    background-color: #0056b3;
  }

  #popup {
    /* display: none; */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 800px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    display: block;
  }

  #popup h3 {
    font-size: 24px;
    margin-top: 0;
  }

  #popup table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
  }

  #popup th {
    background-color: #f2f2f2;
    text-align: left;
    padding: 10px;
    font-weight: normal;
  }

  #popup td {
    padding: 5px;
  }

  #popup p {
    margin-top: 0;
    margin-bottom: 10px;
  }

  #popup .be {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
  }

  #popup .be:hover {
    background-color: #0062cc;
  }
.tab1{
    overflow-y: scroll;
    height: 400PX;
    overflow-x: hidden;
}
#msg{
    color: #61b752;
    margin-top: -40px;
    display: block;
}

  @media (max-width: 768px) {

#popup {
width: 90%;
height: 70%;
padding: 1rem;

}
#popup table{
    font-size: 12px;
}

#popup h3 {
font-size: 20px;
}

#popup .be {
font-size: 14px;
}
}

/* Mobile styles */
@media (max-width: 380px) {
    #popup table{
        font-size: 1rem;
    }
}
@media (max-width: 480px) {
#popup {
width: 95%;
height: 80%;
padding: 5px;
}
#popup table{
    font-size: 1rem;
}

#popup h3 {
font-size: 16px;
}

#popup .be {
font-size: 12px;
padding: 8px 16px;
}
.notification-count {
    position: absolute;
    top: 135px;

}
}
/* media queries  */

@media (max-width:1200px){

    html{
        font-size: 55%;
    }

}

@media (max-width:991px){

    section{
        padding:0 3%;
        padding-top: 75px;
        padding-bottom: 20px;
    }

}

@media (max-width:768px){
    #popup table{
        font-size: 1rem;
    }
    header label{
        visibility: visible;
        opacity: 1;
    }

    header .navbar{
        position: absolute;
        top:100%;
        left: 0;
        width:100%;
        background:#fff;
        padding:10px 20px;
        border-top: 1px solid rgba(0,0,0,.2);
        box-shadow: 0 5px 1px rgba(0,0,0,.1);
        transform-origin: top;
        transform: scaleY(0);
        opacity: 0;
        transition: .2s linear;
    }

    header .navbar a{
        display: block;
        margin:20px 0;
        font-size: 20px;
    }

    header input:checked ~ .navbar{
        transform: scaleY(1);
        opacity: 1;
    }

    header input:checked ~ label::before{
        content:'\f00d';
    }

    .home{
        flex-flow: column-reverse;
    }

    .home .image img{
        width:100%;
    }

    .home .content h3{
        font-size: 36px;
    }

    .home .content p{
        font-size: 15px;
    }
    .notification-count {
        position: absolute;
        top: 140px;

    }
}


@media (max-width:450px){

    html{
        font-size: 50%;
    }


}
